<!doctype html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css2?
        family=Open+Sans:wght@700&family=Raleway:wght@400;600;700
        &display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'radio_st/css/styles.css' %}">
        <title>{% block title %}{% endblock %}</title>
    </head>


<body class="body-forms">
<div class="bottom-body_form">Цей апарат може довго вантажитись, але колись воно заспіває...
</div>
</body>
</html>